body{
	margin:0;
}
section{
	width:1200px;
	margin-left: auto;
	margin-right: auto;
	/* background-color: black; */
	padding:30px;
	/* color:orange; */
	margin-top:100px;
	overflow: hidden;
}
.box{
	width: 33.33%;
	float: left;
	padding:20px;
	box-sizing: border-box;
}
p{
	font-size:16px;color:black;
}
.green{background-color: #5b148808;padding:15px;}
.orange{background-color: #20b3610a;padding:15px;}

.pink{background-color: #ffc0cb1a;padding:15px;}

